.navbar> .container
{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
    width: auto;
    margin: 0 10px;
}

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    max-width: 100% !important;
}

/* .nav-link.active-link {
  color: white !important;
  font-weight: bold;
  border-bottom: 2px solid white;
} */